{% extends "dashboard/base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block navigation %}
<span class="navbar-text" >
    <a href="{% url "home" %}" style ="text-decoration:none">Home</a>
    <i class="bi bi-chevron-compact-right"></i>
    <a href="{% url "password_reset" %}" style ="text-decoration:none">Password Reset</a>
    <i class="bi bi-chevron-compact-right"></i>
    <a href="{% url "password_reset_done" %}" style ="text-decoration:none">Password Reset Done</a>
    <i class="bi bi-chevron-compact-right"></i>
    <a href="#" style ="text-decoration:none">Password Reset Complete</a>
  </span> 
{% endblock navigation %}

{% block content %}

<div class="container mt-5">
    <h2 style="color:teal"> Password reset successful</h2>
    <p>Your password was changed. You can log in now on the 
        <a href="{% url 'login' %}">log in page </a></p></p>
</div>

{% endblock content %}