{% extends "dashboard/base.html" %}

{% block title %}Password reset done{% endblock title %}

{% block navigation %}
<span class="navbar-text" >
    <a href="{% url "home" %}" style ="text-decoration:none">Home</a>
    <i class="bi bi-chevron-compact-right"></i>
    <a href="{% url "password_reset" %}" style ="text-decoration:none">Password Reset</a>
    <i class="bi bi-chevron-compact-right"></i>
    <a href="#" style ="text-decoration:none">Password Reset Done</a>
  </span> 
{% endblock navigation %}

{% block content %}

<div class="container mt-5">
    <h2 style="color:teal"> Password reset sent</h2>
    <p>We've emailed you instruction for setting your password,
        if an account exists with the email you entered. 
        You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address
        you registered with, and check your spam folder.<p>
</div>

{% endblock content %}

