{% extends "dashboard/base.html" %}

{% block title %}Password Change Successful{% endblock title %}

{% block navigation %}
<span class="navbar-text" >
  <a href="{% url "home" %}" style ="text-decoration:none">Home</a>
  <i class="bi bi-chevron-compact-right"></i>
  <a href="{% url "password_change" %}" style ="text-decoration:none">Password Change</a>
  <i class="bi bi-chevron-compact-right"></i>
  <a href="#" style ="text-decoration:none">Password Change Success</a>
</span> 
{% endblock navigation %}

{% block content %}
<div class="container mt-5">
    <h2 style="color:teal"> Password change successful</h2>
    <p>Your password was changed.</p>
</div>
{% endblock content %}