<div class="container-fluid">
    <h6 class ="p-1 text-center" style="background-color:teal; color:white"> Site Administration</h6>
    
                <!-- Textbooks-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_textbook_list" %}" style="text-decoration: none;">Textbooks</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_textbook_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>
    
    
                    <!-- Lessonplans-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_lessonplan_list" %}" style="text-decoration: none;">Lessonplans</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_lessonplan_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                    <!-- Projects-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_project_list" %}" style="text-decoration: none;">Projects</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_project_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                    <!-- Questionpapers-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_questionpaper_list" %}" style="text-decoration: none;">Questionpapers</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_questionpaper_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                     <!-- Notes-->
                     <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_notes_list" %}" style="text-decoration: none;">Notes</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_notes_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                    <!-- Solutions-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_solution_list" %}" style="text-decoration: none;">Solutions</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_solution_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                    <!-- ppts-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_ppt_list" %}" style="text-decoration: none;">PPTs</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_ppt_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>

                     <!-- nmms materials-->
                     <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_nmmsMaterial_list" %}" style="text-decoration: none;">NMMS Material</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_nmmsMaterial_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>

                    <!-- nmms questionpaper-->
                    <div class="row border-bottom border-1 pt-2 pb-2">
                        <div class="col-8">
                            <a href="{% url "dashboard_nmmsQuestionpaper_list" %}" style="text-decoration: none;">NMMS Questionpapers</a>
                        </div>
                        <div class="col-4">
                            <a href="{% url "dashboard_nmmsQuestionpaper_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                        </div>
                    </div>


                 <!-- videos-->
                 <div class="row border-bottom border-1 pt-2 pb-2">
                    <div class="col-8">
                        <a href="{% url "dashboard_video_list" %}" style="text-decoration: none;">Videos</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url "dashboard_video_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                    </div>
                </div>

                <!-- Examplar maths-->
                <div class="row border-bottom border-1 pt-2 pb-2">
                    <div class="col-8">
                        <a href="{% url "dashboard_examplarmath_list" %}" style="text-decoration: none;">Examplar Maths</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url "dashboard_examplarmath_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                    </div>
                </div>


                <!-- mcqs-->
                <div class="row border-bottom border-1 pt-2 pb-2">
                    <div class="col-8">
                        <a href="{% url "dashboard_mcq_list" %}" style="text-decoration: none;">MCQs</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url "dashboard_mcq_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                    </div>
                </div>

                <!-- icts-->
                <div class="row border-bottom border-1 pt-2 pb-2">
                    <div class="col-8">
                        <a href="{% url "dashboard_ict_list" %}" style="text-decoration: none;">ICT % Simulations</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url "dashboard_ict_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                    </div>
                </div>

                <!-- worksheets-->
                <div class="row border-bottom border-1 pt-2 pb-2">
                    <div class="col-8">
                        <a href="{% url "dashboard_worksheet_list" %}" style="text-decoration: none;">Worksheets</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url "dashboard_worksheet_add" %}" style="text-decoration: none;"><i class="bi bi-file-earmark-plus"></i>Add</a>
                    </div>
                </div>
    </div>